body {
    background-color: darkslategray;
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    color:aliceblue;
    margin-top: 100px;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.menu {
    /* positioning */
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 20px;
    margin-top: 20px;
    z-index: 1000;
}

.menu nav {
    display: flex;
}

.menu a {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
    text-decoration: none;
    color:aliceblue;
    padding: 10px 20px;
}

.menu a:visited{
    color:aliceblue;
}

.menu a:hover{
    color:blueviolet;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: cadetblue;
    align-items: center;
}

.container-wrapper {
    display: flex;
    text-align: center;
    flex-direction: column; /* Stack the containers vertically */
    align-items: center; 
    margin-top: 100px;
}

.spellGuesser {
    background-color: burlywood;
    color: darkslategray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    height: 300px;
    width: 400px;
    margin-bottom: 20px; 
}
.spellGuesser p {
    text-align: center;
    margin-top: 40px;
}
.spellGuesser p:last-child{
    display: none;
}

.inputContainer {
    background-color: burlywood;
    color: darkslategray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 20px;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 400px;
}

#guessInput {
    width: 300px;
    height: 25px;
    padding: 8px;
    border: 5px solid #ccc;
    border-radius: 10px;
    display: inline-block;
}

#guessInput:focus{
    outline: none;
}

@keyframes flashJiggleInput {
    0%, 100% { border-color: burlywood; transform: translateX(0); }
    25%, 75% { border-color: red; }
    50% { transform: translateX(-2px); }
}

.flash-jiggle {
    animation: flashJiggleInput 0.5s ease-in-out 4, jiggleInput 0.5s ease-in-out 3 alternate;
}



